---
layout: layouts/home.njk
---

<!-- works
    ================================================== -->
<section id="works" class="s-works target-section">
  <div class="row heading-block heading-block--center" data-aos="fade-up">
    <div class="column large-full">
      <h2 class="section-heading section-heading--centerbottom">
        Selected Works
      </h2>
      <p class="section-desc">
        Here are some of my selected works I have done lately. Feel free to
        check them out.
      </p>
    </div>
  </div>
  <!-- end heading-block -->

  <div class="masonry-wrap">
    <div class="masonry">
      <div class="grid-sizer"></div>

  {% set postslist = collections.posts %} {% set postslistCounter =
  collections.posts | length %} {% include "postslist.njk" %}

</section>
