<!doctype html>
<html lang="en">
  <head>
        <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

        <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ 'css/base.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/vendor.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/main.css' | url }}">
        <!-- script
    ================================================== -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="{{ 'js/modernizr.js' | url }}"></script>
    <script src="{{ 'js/pace.min.js' | url }}"></script>

        <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'images/MJ_icon.svg' | url }}" />
    <link rel="icon" type="image/svg" sizes="32x32" href="{{ 'images/MJ_icon.svg' | url }}" />
    <link rel="icon" type="image/svg" sizes="16x16" href="{{ 'images/MJ_icon.svg' | url }}" />
    <link rel="manifest" href="js/site.webmanifest" />
            <!-- Eleventy specific
    ================================================== -->
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body id="top">
    <div id="preloader">
      <div id="loader"></div>
    </div>
     <!-- site header
    ================================================== -->
    <header class="s-header">
      <div class="header-logo">
        <a class="site-logo" href="index.html">
          <img src="images/MJ_icon.svg" alt="Homepage">
        </a>
      </div>
      <nav class="header-nav-wrap">
        <ul class="header-main-nav">
          <li class="current">
            <a class="smoothscroll" href="#intro" title="intro">Intro</a>
          </li>
          <li><a class="smoothscroll" href="#about" title="about">About</a></li>
          <li><a class="smoothscroll" href="#works" title="works">Works</a></li>
          <li>
            <a class="smoothscroll" href="#contact" title="contact us"
              >Say Hello</a
            >
          </li>
        </ul>
        <ul class="header-social">
          <li>
            <a href="https://www.facebook.com/jozsef.mandula"
              ><i class="fab fa-facebook-f" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/messages/t/jozsef.mandula/"
              ><i class="fab fa-facebook-messenger" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/joealmond/"
              ><i class="fab fa-linkedin" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </nav>
      <a id="language-flag" href="index_hu.html"
      ><img src="images/flags/Flag_of_Hungary.svg" alt="Magyar"/>
    </a>
    <br>
      <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </header>
    <!-- end s-header -->

        <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">
      <div class="row intro-content">
        <div class="column large-9 mob-full intro-text">
          <h3 id="title">Hello, I'm József Mandula</h3>
          <h1>
            Now, <br />
            I am a career changer. <br />
          </h1>
        </div>

        <div class="intro-scroll">
          <a href="#about" class="intro-scroll-link smoothscroll">
            Scroll For More
          </a>
        </div>
        <div class="intro-grid"></div>
        <!-- <div class="intro-pic"></div> -->
        <video
          class="intro-pic intro-video"
          loop
          muted
          autoplay
          playsinline
          src="images/mj_loop.mp4"
        ></video>
      </div>
      <!-- end row -->
    </section>
    <!-- end intro -->

        <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
      <div class="about-me">
        <div class="row heading-block" data-aos="fade-up">
          <div class="column large-full">
            <h2 class="section-heading">About Me</h2>
          </div>
        </div>

        <div class="row about-me__content" data-aos="fade-up">
          <div class="column large-full about-me__text">
            <p class="lead">
              Now, I am a career changer.<br />
              I am a problem solver.<br />
              I am technologically minded.<br />
              I like to immerse myself in mindful design work.<br />
              I am comfortable working in a team.<br />
              I'm all about meaningful goals.<br />
              I am endlessly patient.<br />
              I am a lifelong learner.<br />
              I like English language.<br />
              IT things improve under my hands.<br />
            </p>

            <p class="lead">
              <br />
              I am married, we live happy together with a little daughter in
              Biatorbágy (Hungary).<br />
              <br />
              I have a conversational level of English and Spanish. I am also
              confortable at writing in English.<br />
              <br />
              I have a driver's license and my own car.<br />
            </p>
          </div>
        </div>

        <div class="row about-me__buttons">
          <div class="column large-half tab-full" data-aos="fade-up">
            <a
              href="mailto:me@mandulaj.hu"
              class="btn btn--stroke full-width"
              >Hire Me</a
            >
          </div>
          <div class="column large-half tab-full" data-aos="fade-up">
            <a
              download
              href="resume/József Mandula - CV @ Webdev.pdf"
              class="btn btn--primary full-width"
              >Download CV</a
            >
          </div>
        </div>
      </div>
      <!-- end about-me -->

      <div class="about-experience">
        <div class="row heading-block" data-aos="fade-up">
          <div class="column large-full">
            <h2 class="section-heading">Work & Education</h2>
          </div>
        </div>

        <div class="row about-experience__timeline">
          <div class="column large-half tab-full" data-aos="fade-up">
            <div class="timeline">
              <div class="timeline__icon-wrap">
                <span class="timeline__icon timeline__icon--work"></span>
              </div>

              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <p class="timeline__timeframe">Nov 2018 – May 2021</p>
                  <h3 class="item-title">Event & More Kft.</h3>
                  <h5>Software Engineering Manager</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                    Managing the development and operation of various
                    custom-built sytems like event audience registration, guest guidance and digital signage, seating, booking,
                    and other systems.<br />
                    My latest project was a custom-built live event platform for Cisco Systems Hungary.
                  </p>
                </div>
              </div>

              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <p class="timeline__timeframe">Oct 2008 – Oct 2020</p>
                  <h3 class="item-title">Event & More Kft.</h3>
                  <h5>Technical Director</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                    My responsibilities included guaranteeing the technical
                    success of the events, including any professional and IT
                    solutions. I have also held the position of technical
                    director for events involving more than 10,000 people. In the
                    course of my work, I developed methods for more efficient
                    operation and predictability. Challenging tasks have driven
                    me forward in my career.
                  </p>
                </div>
              </div>

              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <p class="timeline__timeframe">2010 – Present</p>
                  <h3 class="item-title">Entrepreneur</h3>
                  <h5>Self Employed</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                    I maintain my private company to participate in various
                    projects.
                  </p>
                </div>
              </div>
              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <p class="timeline__timeframe">2002 – 2020</p>
                  <h3 class="item-title">Various Companies</h3>
                  <h5>Sound Engineer</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                    I made recordings, live sound and sound design for theatre
                    performances, various music bandbands and companies: @
                    Budapest Puppet Theatre * Tecnosound Canarias SL. * LV Hang
                    Bt. * Mitsoura band * Bognár Szilvia band * Kolompos band *
                    etc.
                  </p>
                </div>
              </div>

              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <p class="timeline__timeframe">2007 – 2021</p>
                  <h3 class="item-title">Various Companies</h3>
                  <h5>Technical Specialist</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                    Manageing and designing AV systems for architectural projects @ Xenoton Kft. * Mikropo Kft. *
                    Klauzál Gábor Budafok-Tétényi Művelődési Központ | Klauzál Ház
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column large-half tab-full" data-aos="fade-up">
            <div class="timeline">
              <div class="timeline__icon-wrap">
                <span class="timeline__icon timeline__icon--education"></span>
              </div>



              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <p class="timeline__timeframe">2019 – Present</p>
                  <h3 class="item-title">Webdevelopment - Bootcamp and Self-education</h3>
                  <h5>Epam Front-End Program 2022, Programozás Karrier 1.0</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                    JavaScript, Node.js, React, Python, CSS, HTML, Security & Netwotking...
                  </p>
                </div>
              </div>
              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <h3 class="item-title">Oktopus Multimédia Intézet</h3>
                  <h5>sound engineer (National Training Registry)</h5>
                </div>
                <div class="timeline__desc">
                  <p>
                  </p>
                </div>
              </div>
              <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                  <h3 class="item-title">Kossuth Lajos Gimnázium</h3>
                  <h5>graduation</h5>
                </div>
                <div class="timeline__desc">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about-experience -->
    </section>
    <!-- end s-about -->
    <!-- services
    ================================================== -->

    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>


          <!-- end masonry__brick -->
        </div>
        <!-- end masonry -->
      </div>
      <!-- end masonry-wrap -->
    </section>
    <!-- end s-work -->
<!-- testimonies
    ================================================== -->
    <section class="s-testimonials">
    
      <div class="row testimonials" data-aos="fade-up">

          <div class="column large-full testimonials__slider">

              <div class="testimonials__slide">
                  <p>Choose a job you love, and you will never have to work a day in your life.</p>
                  <div class="testimonials__info">
                                       <cite class="testimonials__cite">
                          <strong>Confucius</strong>
                      </cite>
                  </div>
              </div> <!-- end testimonials__slide -->

              <div class="testimonials__slide">
                  <p>In the middle of difficulty lies opportunity.</p>
                  <div class="testimonials__info">
                             <cite class="testimonials__cite">
                          <strong>Albert Einstein</strong>

                      </cite>
                  </div>
              </div> <!-- end testimonials__slide -->

              <div class="testimonials__slide">
                  <p>Education is the most powerful weapon, which you can use to change the world.</p>
                  <div class="testimonials__info">
                                           <cite class="testimonials__cite">
                          <strong>Nelson Mandela</strong>
                      </cite>
                  </div>
              </div> <!-- end testimonials__slide -->
              
          </div> <!-- end testimonials__slider -->

      </div> <!-- end testimonials -->

  </section> <!-- end s-testimonials -->
  <!-- contact
  ================================================== -->
  <section id="contact" class="s-contact ss-dark target-section">
    <div class="row heading-block" data-aos="fade-up">
      <div class="column large-full">
        <h2 class="section-heading">Get In Touch</h2>
      </div>
    </div>

    <div class="row contact-main" data-aos="fade-up">
      <div class="column large-full">
        <p class="contact-email">
          <a id="shrink" href="mailto:me@mandulaj.hu"
            >me@mandulaj.hu</a
          >
        </p>

        <p class="section-desc">
          I'm happy to connect, listen and help. Let's work together and build
          something awesome.
          <a href="mailto:me@mandulaj.hu">Email Me</a>.
        </p>
      </div>
    </div>

    <div
      class="row contact-infos"
      data-aos="fade-up"
      data-aos-anchor=".contact-main"
    >
      <!-- <div class="column large-5 medium-full contact-phone">
              <h4>Call Me</h4>
              <a href="tel:00-36-70-312-3264">+36 seventy 3123264</a>
          </div> -->

      <div class="column large-7 medium-full contact-social">
        <h4>Social</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/jozsef.mandula" title="Facebook"
              >Facebook</a
            >
          </li>
          <li><a href="https://www.facebook.com/messages/t/jozsef.mandula/" title="Facebook Messenger">Messenger</a></li>
          <li><a href="https://www.linkedin.com/in/joealmond/" title="LinkedIn">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <!-- end contact-infos -->
  </section>
  <!-- end s-contact -->

  <!-- footer
  ================================================== -->
  <footer>
    <div class="row">
      <div class="column large-full ss-copyright">
        <span>© Copyright Epitome 2019</span>
        <span
          >Design by
          <a href="https://www.styleshout.com/">StyleShout</a></span
        >
      </div>

      <div class="ss-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
      </div>
    </div>
  </footer>

  <!-- photoswipe background
  ================================================== -->
  <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button
            class="pswp__button pswp__button--close"
            title="Close (Esc)"
          ></button>
          <button
            class="pswp__button pswp__button--share"
            title="Share"
          ></button>
          <button
            class="pswp__button pswp__button--fs"
            title="Toggle fullscreen"
          ></button>
          <button
            class="pswp__button pswp__button--zoom"
            title="Zoom in/out"
          ></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
        >
          <div class="pswp__share-tooltip"></div>
        </div>
        <button
          class="pswp__button pswp__button--arrow--left"
          title="Previous (arrow left)"
        ></button>
        <button
          class="pswp__button pswp__button--arrow--right"
          title="Next (arrow right)"
        ></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end photoSwipe background -->

        <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
